version: "3"
services:
  redmine:
    image: redmica/redmica
    restart: always
    ports:
      - 80:3000
    volumes:
      - /data/redmine/files:/usr/src/redmine/files
      - /data/redmine/log:/usr/src/redmine/log
      - /data/redmine/plugins:/usr/src/redmine/plugins
      - /data/redmine/public/themes:/usr/src/redmine/public/themes
    environment:
      TZ: Asia/Tokyo
      REDMINE_PLUGINS_MIGRATE: 1
      REDMINE_DB_POSTGRES: {{ postgres_ip_addr }}
      REDMINE_DB_USERNAME: {{ postgres_username }}
      REDMINE_DB_PASSWORD: {{ postgres_password }}
