production:
  access_key_id: "{{ aws_access_key_id }}"
  secret_access_key: "{{ aws_secret_access_key }}"
  bucket: "{{ s3_bucket }}"
  folder: "{{ s3_folder }}"
  endpoint:
  thumb_folder:
  import_folder:
  region: "{{ s3_region }}"

development:
  access_key_id:
  secret_access_key:
  bucket:
  folder:
  endpoint:
  thumb_folder:
  import_folder:
  region:

# Uncomment this to run plugin tests with standart redmine script
# test:
#   access_key_id:
#   secret_access_key:
#   bucket: